<%- include('partials/header'); -%>


<h1>Compose</h1>

<form method="POST" action="/compose"> 
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" name="titleInput" >
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Text</label>
      <textarea class="form-control" name="textInput" rows="5"></textarea>

    </div>
    <div>
    <button type="submit" class="btn btn-primary">Post</button>
    </div>
  </form>
  

</div>
<%- include('partials/footer'); -%>
